@using Helios.Web.Helpers
@using Helios.Web.Storage.Models.Avatar
@using Helios.Web.Util

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>@(this.ViewBag.SiteNamel) Hotel - Character Settings </title>

    <script type="text/javascript">
        var andSoItBegins = (new Date()).getTime();
    </script>
    <link rel="shortcut icon" href="@(this.ViewBag.StaticContentUrl)web-gallery/v2/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="alternate" type="application/rss+xml" title="Habbo Hotel - RSS" href="http://www.habbo.com/articles/rss.xml" />
    <meta name="csrf-token" content="117e08e0dc" />
    <link rel="stylesheet" href="@(this.ViewBag.StaticContentUrl)web-gallery/static/styles/embed.css" type="text/css" />
    <script src="@(this.ViewBag.StaticContentUrl)web-gallery/static/js/embed.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://habbo.com/styles/local/com.css" type="text/css" />

    <script src="http://habbo.com/js/local/com.js" type="text/javascript"></script>


    <script type="text/javascript">
        document.habboLoggedIn = true;
        var habboName = '{$user->username}';
        var habboId = { $user-> id};
        var facebookUser = false;
        var habboReqPath = "";
        var habboStaticFilePath = "@(this.ViewBag.StaticContentUrl)web-gallery";
        var habboImagerUrl = "@(this.ViewBag.StaticContentUrl)Public/Themes/{$skin->name}/webbuild/habbo-imaging/";
        var habboPartner = "";
        var habboDefaultClientPopupUrl = "@(this.ViewBag.StaticContentUrl)client";
        window.name = "habboMain";
        if (typeof HabboClient != "undefined") {
            HabboClient.windowName = "53f4a3906a95d214e8d5e9cce709556196f5fa53";
            HabboClient.maximizeWindow = true;
        }
    </script>

    <link rel="stylesheet" href="@(this.ViewBag.StaticContentUrl)web-gallery/static/styles/common.css" type="text/css" />
    <link rel="stylesheet" href="@(this.ViewBag.StaticContentUrl)web-gallery/static/styles/avatarselection.css" type="text/css" />

    <meta name="description" content="Check into the world’s largest virtual hotel for FREE! Meet and make friends, play games, chat with others, create your avatar, design rooms and more…" />
    <meta name="keywords" content="@(this.ViewBag.SiteNamel) hotel, virtual, world, social network, free, community, avatar, chat, online, teen, roleplaying, join, social, groups, forums, safe, play, games, online, friends, teens, rares, rare furni, collecting, create, collect, connect, furni, furniture, pets, room design, sharing, expression, badges, hangout, music, celebrity, celebrity visits, celebrities, mmo, mmorpg, massively multiplayer" />

    <!--[if IE 8]>
    <link rel="stylesheet" href="@(this.ViewBag.StaticContentUrl)web-gallery/static/styles/ie8.css" type="text/css" />
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="@(this.ViewBag.StaticContentUrl)web-gallery/static/styles/ie.css" type="text/css" />
    <![endif]-->
    <!--[if lt IE 7]>
    <link rel="stylesheet" href="@(this.ViewBag.StaticContentUrl)web-gallery/static/styles/ie6.css" type="text/css" />
    <script src="@(this.ViewBag.StaticContentUrl)web-gallery/static/js/pngfix.js" type="text/javascript"></script>
    <script type="text/javascript">
    try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {}
    </script>

    <style type="text/css">
    body { behavior: url(/js/csshover.htc); }
    </style>
    <![endif]-->

    <meta name="build" content="63-BUILD1484 - 11.07.2012 23:09 - com" />

</head>

<body id="embedpage">
    <div id="overlay"></div>

    @{
        await Html.RenderPartialAsync("Login/Forgotten");
    }

    <div id="container">
        <div id="select-avatar">
            <div class="pick-avatar-container clearfix">
                <div class="title">
                    <span class="habblet-close"></span>
                    <h1>Character Settings</h1>
                </div>
                <div id="content">
                    <div id="user-info">
                        <img src="https://web.archive.org/web/20101118231959id_/https://ssl.facebook.com/pics/q_silhouette.gif" />
                        <div>
                            <div id="name">@ViewBag.User.Email</div>
                            <a href="@Url.AbsolutePath("~/account/logout")" id="logout">Sign out</a>
                            <a href="@Url.AbsolutePath("~/identity/settings")" id="manage-account">Manage account</a>
                        </div>

                    </div>
                    <div id="first-avatar">
                        @{
                            string firstFigure = ViewBag.Avatar.Figure;
                        }
                        <img src="@Url.AbsolutePath("~/habbo-imaging/avatarimage?figure=" + firstFigure + "&position=3")" width="64" height="110" />
                        <div id="first-avatar-info">
                            <div class="first-avatar-name">@(ViewBag.Avatar.Name)</div>
                            <div class="first-avatar-lastonline">Last logged in: <span>@(((DateTime)ViewBag.Avatar.LastOnline).TimeAgo())</span></div>
                            <a id="first-avatar-play-link" href="@(this.ViewBag.SiteUrl)client">
                                <div class="play-button-container">
                                    <div class="play-button"><div class="play-text">Play</div></div>
                                    <div class="play-button-end"></div>
                                </div>
                            </a>
                        </div>
                    </div>


                    <div id="link-new-avatar"><a class="new-button " onclick="" href="/identity/addavatar"><b>+ Add</b><i></i></a></div>

                    <h2 style="margin: 5px 10px 20px">Your other characters</h2>
                    <p style="margin: 5px 10px">You can add @(Constants.MAX_AVATARS - ViewBag.OtherAvatars.Count - 1) more characters</p>

                    <div class="other-avatars">
                        <ul>
                        @{
                            if (ViewBag.OtherAvatars.Count == 0)
                            {
                                <li class="odd">
                                    <div class="rounded rounded-lightbrown clearfix">
                                        You have no other character attached to this account. Please select the add button above to add more characters.
                                    </div>
                                </li>
                            }
                            else
                            {
                                foreach (var avatar in ViewBag.OtherAvatars)
                                {
                                    ViewBag.CurrentAvatar = avatar;

                                    await Html.RenderPartialAsync("Avatar");
                                }
                            }
                        }
                        </ul>

                    </div>

                </div>
            </div>
            <div class="pick-avatar-container-bottom"></div>
        </div>
    </div>
    @{
       await Html.RenderPartialAsync("Footer");
    }
    <script type="text/javascript">
        if (typeof HabboView != "undefined") {
            HabboView.run();
        }
    </script>

</body>
</html>