@using Helios.Web.Helpers
@using Helios.Web.Storage.Models.Avatar
@using Helios.Web.Storage.Models.User
@using Helios.Web.Util
@{
    var userData = ViewBag.User as UserData;
    var alertMessage = ViewBag.AlertMessage as string;
    var alertColour = ViewBag.AlertColour as string;
    var secureRandom = new Random();
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
   <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <title>@(this.ViewBag.SiteNamel) Hotel - Character Settings </title>
      <script type="text/javascript">
         var andSoItBegins = (new Date()).getTime();
      </script>
      <link rel="shortcut icon" href="@(this.ViewBag.StaticContentUrl)web-gallery/v2/favicon.ico" type="image/vnd.microsoft.icon" />
      <link rel="alternate" type="application/rss+xml" title="Habbo Hotel - RSS" href="@Url.AbsolutePath("~/articles/rss.xml")" />
      <meta name="csrf-token" content="117e08e0dc" />
      <link rel="stylesheet" href="@(this.ViewBag.StaticContentUrl)web-gallery/static/styles/embed.css" type="text/css" />
      <script src="@(this.ViewBag.StaticContentUrl)web-gallery/static/js/embed.js" type="text/javascript"></script>
      <link rel="stylesheet" href="http://habbo.com/styles/local/com.css" type="text/css" />
      <script src="http://habbo.com/js/local/com.js" type="text/javascript"></script>
      <script type="text/javascript">
         document.habboLoggedIn = true;
         var habboName = '';
         var habboId = 0;
         var facebookUser = false;
         var habboReqPath = "";
         var habboStaticFilePath = "@(this.ViewBag.StaticContentUrl)web-gallery";
         var habboImagerUrl = "@(this.ViewBag.StaticContentUrl)Public/Themes/{$skin->name}/webbuild/habbo-imaging/";
         var habboPartner = "";
         var habboDefaultClientPopupUrl = "@(this.ViewBag.StaticContentUrl)client";
         window.name = "habboMain";
         if (typeof HabboClient != "undefined") {
             HabboClient.windowName = "53f4a3906a95d214e8d5e9cce709556196f5fa53";
             HabboClient.maximizeWindow = true;
         }
      </script>
      
      <link rel="stylesheet" href="@(this.ViewBag.StaticContentUrl)web-gallery/static/styles/common.css" type="text/css" />
      <link rel="stylesheet" href="@(this.ViewBag.StaticContentUrl)web-gallery/static/styles/identitysettings.css" type="text/css" />
      <link rel="stylesheet" href="@(this.ViewBag.StaticContentUrl)web-gallery/v2/styles/settings.css" type="text/css" />

      <meta name="description" content="Check into the world’s largest virtual hotel for FREE! Meet and make friends, play games, chat with others, create your avatar, design rooms and more…" />
      <meta name="keywords" content="@(this.ViewBag.SiteNamel) hotel, virtual, world, social network, free, community, avatar, chat, online, teen, roleplaying, join, social, groups, forums, safe, play, games, online, friends, teens, rares, rare furni, collecting, create, collect, connect, furni, furniture, pets, room design, sharing, expression, badges, hangout, music, celebrity, celebrity visits, celebrities, mmo, mmorpg, massively multiplayer" />
      <!--[if IE 8]>
      <link rel="stylesheet" href="@(this.ViewBag.StaticContentUrl)web-gallery/static/styles/ie8.css" type="text/css" />
      <![endif]-->
      <!--[if lt IE 8]>
      <link rel="stylesheet" href="@(this.ViewBag.StaticContentUrl)web-gallery/static/styles/ie.css" type="text/css" />
      <![endif]-->
      <!--[if lt IE 7]>
      <link rel="stylesheet" href="@(this.ViewBag.StaticContentUrl)web-gallery/static/styles/ie6.css" type="text/css" />
      <script src="@(this.ViewBag.StaticContentUrl)web-gallery/static/js/pngfix.js" type="text/javascript"></script>
      <script type="text/javascript">
         try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {}
      </script>
      <style type="text/css">
         body { behavior: url(/js/csshover.htc); }
      </style>
      <![endif]-->
      <meta name="build" content="63-BUILD1484 - 11.07.2012 23:09 - com" />
   </head>
   <body id="embedpage">
      <div id="overlay"></div>
      @{
      await Html.RenderPartialAsync("Login/Forgotten");
      }
      <div id="container">
         <div class="settings-container clearfix">
            <h1>Manage account</h1>
            <div id="back-link">
               <a href="@Url.AbsolutePath("~/identity/avatars")">My characters</a> &raquo; <a href="@Url.AbsolutePath("~/identity/settings")"> Manage account</a> &raquo; Change Password
            </div>
            <div style="padding: 0 10px">
                @{
                    if (alertColour is string bubbleColour &&
                        alertMessage is string bubbleMessage)
                    {
                        <br /><div class="rounded rounded-@bubbleColour">@bubbleMessage<br />	</div>
                    }
                }

               <p style="margin-top: 10px">If someone told you to come here and change your password in return for a reward, do not change your password!</p>
               <form method="post" id="pwform">
                  <input type="hidden" name="tab" value="4">
                  <input type="hidden" name="__app_key" value="HeliosWeb">
                  <div class="settings-step">
                     <h4>1.</h4>
                     <div class="settings-step-content">
                        <h3>Give your current details</h3>
                        <p>
                           <label for="currentpassword">Current password</label><br>
                           <input type="password" size="32" name="currentpassword" id="currentpassword" class="currentpassword ">
                        </p>
                     </div>
                  </div>
                  <div class="settings-step">
                     <h4>2.</h4>
                     <div class="settings-step-content">
                        <h3>Enter new password</h3>
                        <p>Your new password must have at least 6 characters. Your password can include lowercase, UPPERCASE letters and numbers.</p>
                        <p>
                           <label for="bean_password">New password</label><br>
                           <input type="password" size="32" name="newpassword" value="" id="bean_password" class="required-password required-password2 ">
                        </p>
                        <p>
                           <label for="bean_retypedPassword">New password (again)</label><br>
                           <input type="password" size="32" name="newpasswordconfirm" value="" id="bean_retypedPassword" class="required-retypedPassword required-retypedPassword2 ">
                        </p>
                     </div>
                  </div>
                  <div class="settings-step">
                     <h4>3.</h4>
                     <div class="settings-step-content">
                        <h3>
                           <label for="bean_captcha" class="registration-text">Type in the security code shown in the image below.</label>
                        </h3>
                        <div id="captcha-code-error"></div>
                        <p></p>
                        <div class="register-label" id="captcha-reload">
                           <p>
                              <img src="@(this.ViewBag.StaticContentUrl)web-gallery/v2/images/shared_icons/reload_icon.gif" width="15" height="15" alt="">
                              <a id="captcha-reload-link" href="#">I can't read the code! Please give me another one.</a>
                           </p>
                        </div>
                        <script type="text/javascript">
                           document.observe("dom:loaded", function() {
                               Event.observe($("captcha-reload"), "click", function(e) {Utils.reloadCaptcha()});
                           });
                        </script>
                        <p id="captcha-container">
                           <img id="captcha" src="@Url.AbsolutePath("~/captcha.png")?t=@(secureRandom.Next(int.MaxValue))" alt="" width="310" height="50">
                        </p>
                        <p>
                           <input type="text" name="captcha" id="captcha-code" value="" class="registration-text required-captcha">
                        </p>
                     </div>
                  </div>
                  <div class="settings-buttons">
                     <a href="#" class="new-button" style="" id="pwform-submit"><b>Change password</b><i></i></a>
                     <noscript><input type="submit" value="Change password" name="save" class="submit" /></noscript>
                  </div>
               </form>
               <script type="text/javascript">
                $("pwform-submit").observe("click", function(e) { e.stop(); $("pwform").submit(); });
                $("pwform-submit").show();
                </script>
            </div>
         </div>
         <div class="settings-container-bottom">
         </div>
      </div>
      <script type="text/javascript">
         if (typeof HabboView != "undefined") {
             HabboView.run();
         }
      </script>
   </body>
</html>