@using Helios.Web.Helpers

<div id="overlay"></div>
<div id="header-container">
	<div id="header" class="clearfix">
		<h1><a href="?p=index"></a></h1>

		<div id="subnavi">
			<div id="subnavi-user">
				<ul>
					<li id="myfriends" class=""><a href="#"><span>My Friends</span></a><span class="r"></span></li>
					<li id="mygroups" class=""><a href="#"><span>My Groups</span></a><span class="r"></span></li>
					<li id="myrooms" class=""><a href="#"><span>My Rooms</span></a><span class="r"></span></li>
				</ul>
			</div>
			<div id="subnavi-search">
				<div id="subnavi-search-upper">
					<ul id="subnavi-search-links">
						<li><a href="@Url.AbsolutePath("~/account/logout")" style="color:#000">Sign Out</a></li>
					</ul>
				</div>
			</div>
			<div id="to-hotel">
				<a href="@Url.AbsolutePath("~/client")" class="new-button green-button" target="eac955c8dbc88172421193892a3e98fc7402021a" onclick="HabboClient.openOrFocus(this); return false;"><b>Enter @(ViewBag.SiteName) Hotel</b><i></i></a>

			</div>
		</div>

		<script type="text/javascript">
			L10N.put("purchase.group.title", "Create a group");
			document.observe("dom:loaded", function () {
			});
		</script>

		<ul id="navi">
			<li class="selected">
				<strong>@ViewBag.Avatar.Name </strong>			<span></span>
			</li>

			<li>
				<a href="@Url.AbsolutePath("~/community")">Community</a>			<span></span>
			</li>

			<li>
				<a href="@Url.AbsolutePath("~/credits")">Coins</a>			<span></span>
			</li>

			<li>
				<a href="@Url.AbsolutePath("~/games")">Games</a>			<span></span>
			</li>
			<li id="tab-register-now"><a href="@Url.AbsolutePath("~/allseeingeye/hk/")">Housekeeping</a><span></span></li>

		</ul>

		<div id="habbos-online"><div class="rounded"><span>0 Habbos online</span></div></div>
	</div>
</div>

<div id="content-container">
	<div id="navi2-container" class="pngbg">
		<div id="navi2" class="pngbg clearfix">
			<ul>
				<li class="selected">
					Home
				</li>
				<li class="">
					<a href="@Url.AbsolutePath("~/home/Quackster")">My Page</a>
				</li>
				<li class="">
					<a href="@Url.AbsolutePath("~/profile")">Account Settings</a>
				</li>
				<li class="last">
					<a href="@Url.AbsolutePath("~/club")">Habbo Club</a>
				</li>
			</ul>
		</div>
	</div>