@using Helios.Storage
@using Helios.Web.Helpers
@{
    string position = "right";
    int i = 0;
    int lefts = 0;
    int rights = 0;

    StorageContext ctx = ViewBag.Entities;
    var recommendedGroups = ctx.GroupData.ToList();
}

<div class="habblet-container">
    <div class="cbb clearfix blue">
        <h2 class="title">Recommended</h2>
        <div id="promogroups-habblet-list-container" class="habblet-list-container groups-list">
            <ul class="habblet-list two-cols clearfix">
                @{
                    foreach (var group in recommendedGroups)
                    {
                        i++;
                        if (i % 2 == 0)
                        {
                            position = "right";
                            rights++;
                        }
                        else
                        {
                            position = "left";
                            lefts++;
                        }

                        string status = (lefts % 2 == 0) ? "even" : "odd";

                        <li class="@status @position" style="background-image: url(@Url.AbsolutePath("~/habbo-imaging/badge/" + @group.Badge + ".gif"))">
                            @if (group.RoomId > 0)
                            {
                                <a href="@Url.AbsolutePath("~/client?forwardId=2&amp;roomId=" + group.RoomId)" onclick="HabboClient.roomForward(this, '1', 'private'); return false;" target="client" class="group-room"></a>
                            }
                            <a class="item" href="">@group.Name</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>