@using Helios.Web.Helpers
@using Helios.Storage.Models.Avatar

<div class="habblet-container ">
    <div class="cb clearfix blue ">
        <div class="bt">
            <div></div>
        </div>
        <div class="i1">
            <div class="i2">
                <div class="i3">
                    <div class="rounded-container">
                        <div style="background-color: rgb(255, 255, 255); ">
                            <div style="margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; height: 1px; overflow-x: hidden; overflow-y: hidden; background-color: rgb(255, 255, 255); ">
                                <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(111, 153, 196); ">
                                    <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(53, 113, 173); ">
                                        <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(39, 103, 167); "></div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; height: 1px; overflow-x: hidden; overflow-y: hidden; background-color: rgb(255, 255, 255); ">
                                <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(53, 113, 173); ">
                                    <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(39, 103, 167); "></div>
                                </div>
                            </div>
                            <div style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; height: 1px; overflow-x: hidden; overflow-y: hidden; background-color: rgb(111, 153, 196); ">
                                <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(39, 103, 167); "></div>
                            </div>
                            <div style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; height: 1px; overflow-x: hidden; overflow-y: hidden; background-color: rgb(53, 113, 173); ">
                                <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(39, 103, 167); "></div>
                            </div>
                        </div>
                        <h2 class="title rounded-done">
                            My Characters
                        </h2>
                        <div style="background-color: rgb(255, 255, 255); ">
                            <div style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; height: 1px; overflow-x: hidden; overflow-y: hidden; background-color: rgb(53, 113, 173); ">
                                <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(39, 103, 167); "></div>
                            </div>
                            <div style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; height: 1px; overflow-x: hidden; overflow-y: hidden; background-color: rgb(111, 153, 196); ">
                                <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(39, 103, 167); "></div>
                            </div>
                            <div style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; height: 1px; overflow-x: hidden; overflow-y: hidden; background-color: rgb(255, 255, 255); ">
                                <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(53, 113, 173); ">
                                    <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(39, 103, 167); "></div>
                                </div>
                            </div>
                            <div style="margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; height: 1px; overflow-x: hidden; overflow-y: hidden; background-color: rgb(255, 255, 255); ">
                                <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(111, 153, 196); ">
                                    <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(53, 113, 173); ">
                                        <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(39, 103, 167); "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="avatar-selector-habblet">
                        @{
                            if (ViewBag.OtherAvatars.Count > 0)
                            {
                                <ul>
                                    @{
                                        int i = 0;

                                        foreach (var otherAvatar in ViewBag.OtherAvatars)
                                        {
                                            int avatarId = otherAvatar.Id;
                                            string figure = otherAvatar.Figure;

                                            <li class="@(i % 2 == 0 ? "even" : "")">
                                                <img class="avatar-image" src="@Url.AbsolutePath("~/habbo-imaging/avatarimage?figure=" + figure + "&position=3&size=s")" width="32" height="55">
                                                <div class="avatar-info">
                                                    <div class="avatar-info-container">
                                                        <div class="avatar-name"> @(otherAvatar.Name)</div>
                                                        <div class="avatar-lastonline">
                                                            Last logged in:
                                                            <span title="@(((DateTime)otherAvatar.LastOnline).ToHabboDate())">@(((DateTime)otherAvatar.LastOnline).TimeAgo())</span>
                                                        </div>
                                                    </div>
                                                    <div class="avatar-select">
                                                        <a href="/identity/useOrCreateAvatar/@(avatarId)?disableFriendLinking=true"><b>Play</b><i></i></a>
                                                    </div>
                                                </div>
                                            </li>

                                            i++;

                                        }
                                    }
                                    <li>
                                        <div class="more"><a href="/identity/add_avatar">Add or associate more characters to your account</a></div>
                                    </li>
                                </ul>
                            } 
                            else 
                            {
                                <div style="font-size: 13px; margin: 10px 30px 0px 30px">
                                    <p>Want to add a new character to your Habbo account? Switch between the characters by clicking "play" next to the character.</p>
                                    <p><strong><a href="/identity/add_avatar" style="color: #2767A7">Add another character</a></strong> to my account.</p>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="bb">
            <div></div>
        </div>
    </div>
</div>
<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>