<div class="habblet-container news-promo">
    <div class="cbb clearfix notitle ">
        <div id="newspromo">
            <div id="topstories">
                <div class="topstory" style="background-image: url(@(this.ViewBag.StaticContentUrl)c_images/Top_Story_Images/attention_topstory.png)">
                    <h4>Latest news </a></h4>
                    <h3><a href="@(this.ViewBag.StaticContentUrl)articles/430-rotw-end-of-summer">No news</a></h3>
                    <p class="summary">
                        
                    </p>
                    <p>
                        <a href="@(this.ViewBag.StaticContentUrl)articles/430-rotw-end-of-summer">Read more &raquo;</a>
                    </p>
                </div>
                <div class="topstory" style="background-image: url(@(this.ViewBag.StaticContentUrl)c_images/Top_Story_Images/attention_topstory.png); display: none">
                    <h4>Latest news</a></h4>
                    <h3><a href="@(this.ViewBag.StaticContentUrl)articles/429-results-rotw-racetrack">No news</a></h3>
                    <p class="summary">
                        Check out who finished first in the ClassicHabbo Grand Prix!
                    </p>
                    <p>
                        <a href="@(this.ViewBag.StaticContentUrl)articles/429-results-rotw-racetrack">Read more &raquo;</a>
                    </p>
                </div>
                <div class="topstory" style="background-image: url(@(this.ViewBag.StaticContentUrl)c_images/Top_Story_Images/attention_topstory.png); display: none">
                    <h4>Latest news</a></h4>
                    <h3><a href="@(this.ViewBag.StaticContentUrl)articles/428-rotw-racetrack">No news</a></h3>
                    <p class="summary">
                        
                    </p>
                    <p>
                        <a href="@(this.ViewBag.StaticContentUrl)articles/428-rotw-racetrack">Read more &raquo;</a>
                    </p>
                </div>
                <div id="topstories-nav" style="display: none"><a href="#" class="prev">&laquo; Previous</a><span>1</span> / 3<a href="#" class="next">Next &raquo</a></div>
            </div>
            <ul class="widelist">
                <li class="even">
                    <a href="@(this.ViewBag.StaticContentUrl)articles/427-results-rotw-atlantis">No news</a>
                    <div class="newsitem-date">Fri 22 Jul, 2022</div>
                </li>
                <li class="odd">
                    <a href="@(this.ViewBag.StaticContentUrl)articles/426-rotw-atlantis">No news</a>
                    <div class="newsitem-date">Tue 12 Jul, 2022</div>
                </li>
                <li class="last"><a href="@(this.ViewBag.StaticContentUrl)articles">More news &raquo;</a></li>
            </ul>
        </div>
        <script type="text/javascript">
            document.observe("dom:loaded", function () { NewsPromo.init(); });
        </script>
    </div>
</div>
<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>