@using Helios.Web.Helpers;

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Habbo Hotel -  </title>

<script type="text/javascript">
var andSoItBegins = (new Date()).getTime();
</script>
<link rel="shortcut icon" href="@(this.ViewBag.StaticContentUrl)web-gallery/v2/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="alternate" type="application/rss+xml" title="Habbo Hotel - RSS" href="http://www.habbo.com/articles/rss.xml" />
<meta name="csrf-token" content="2a22cdd899"/>
<link rel="stylesheet" href="@(this.ViewBag.StaticContentUrl)web-gallery/static/styles/common.css" type="text/css" />
<script src="@(this.ViewBag.StaticContentUrl)web-gallery/static/js/libs2.js" type="text/javascript"></script>
<script src="@(this.ViewBag.StaticContentUrl)web-gallery/static/js/visual.js" type="text/javascript"></script>
<script src="@(this.ViewBag.StaticContentUrl)web-gallery/static/js/libs.js" type="text/javascript"></script>
<script src="@(this.ViewBag.StaticContentUrl)web-gallery/static/js/common.js" type="text/javascript"></script>


<script type="text/javascript">
var ad_keywords = "";
var ad_key_value = "";
</script>
<script type="text/javascript">
document.habboLoggedIn = false;
var habboName = null;
var habboId = null;
var habboReqPath = "";
var habboStaticFilePath = "@(this.ViewBag.StaticContentUrl)web-gallery";
var habboImagerUrl = "http://www.habbo.com/habbo-imaging/";
var habboPartner = "";
var habboDefaultClientPopupUrl = "http://www.habbo.com/client";
window.name = "9f8944ea6e2b0522816dea2b8fef643d1adcde82";
if (typeof HabboClient != "undefined") {
    HabboClient.windowName = "9f8944ea6e2b0522816dea2b8fef643d1adcde82";
    HabboClient.maximizeWindow = true;
}


</script>

<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

<meta property="fb:app_id" content="183096284873" />

<meta property="og:site_name" content="Habbo Hotel" />
<meta property="og:title" content="Habbo Hotel - " />
<meta property="og:url" content="http://www.habbo.com" />
<meta property="og:image" content="http://www.habbo.com/v2/images/facebook/app_habbo_hotel_image.gif" />
<meta property="og:locale" content="en_US" />

<link rel="stylesheet" href="@(this.ViewBag.StaticContentUrl)web-gallery/static/styles/quickregister.css" type="text/css" />
<script src="@(this.ViewBag.StaticContentUrl)web-gallery/static/js/quickregister.js" type="text/javascript"></script>

<meta name="description" content="Check into the world's largest virtual hotel for FREE! Meet and make friends, play games, chat with others, create your avatar, design rooms and more..." />
<meta name="keywords" content="habbo hotel, virtual, world, social network, free, community, avatar, chat, online, teen, roleplaying, join, social, groups, forums, safe, play, games, online, friends, teens, rares, rare furni, collecting, create, collect, connect, furni, furniture, pets, room design, sharing, expression, badges, hangout, music, celebrity, celebrity visits, celebrities, mmo, mmorpg, massively multiplayer" />

<script src="//cdn.optimizely.com/js/13389159.js"></script>

<!--[if IE 8]>
<link rel="stylesheet" href="@(this.ViewBag.StaticContentUrl)web-gallery/static/styles/ie8.css" type="text/css" />
<![endif]-->
<!--[if lt IE 8]>
<link rel="stylesheet" href="@(this.ViewBag.StaticContentUrl)web-gallery/static/styles/ie.css" type="text/css" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" href="@(this.ViewBag.StaticContentUrl)web-gallery/static/styles/ie6.css" type="text/css" />
<script src="@(this.ViewBag.StaticContentUrl)web-gallery/static/js/pngfix.js" type="text/javascript"></script>
<script type="text/javascript">
try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {}
</script>

<style type="text/css">
body { behavior: url(/js/csshover.htc); }
</style>
<![endif]-->
<meta name="build" content="63-BUILD-FOR-PATCH-1515b - 24.01.2013 12:10 - com" />
</head>

<body id="client" class="@(this.Context.Get<string>("registerGender") == "male" ? "background-accountdetails-male" : "background-accountdetails-female")">
<div id="overlay"></div>
<img src="@(this.ViewBag.StaticContentUrl)web-gallery/v2/images/page_loader.gif" style="position:absolute; margin: -1500px;" />

<div id="change-password-form" style="display: none;">
    <div id="change-password-form-container" class="clearfix">
        <div id="change-password-form-title" class="bottom-border">Forgot Password?</div>
        <div id="change-password-form-content" style="display: none;">
            <form method="post" action="@Url.AbsolutePath("~/account/password/identityResetForm")" id="forgotten-pw-form">
                <input type="hidden" name="page" value="/quickregister/start?changePwd=true" />
                <span>Type in your Habbo account email address:</span>
                <div id="email" class="center bottom-border">
                    <input type="text" id="change-password-email-address" name="emailAddress" value="" class="email-address" maxlength="48"/>
                    <div id="change-password-error-container" class="error" style="display: none;">Please enter a correct email address</div>
                </div>
            </form>
            <div class="change-password-buttons">
                <a href="#" id="change-password-cancel-link">Cancel</a>
                <a href="#" id="change-password-submit-button" class="new-button"><b>Send Email</b><i></i></a>
            </div>
        </div>
        <div id="change-password-email-sent-notice" style="display: none;">
            <div class="bottom-border">
                <span>Hey, we just sent you an email with a link that lets you reset your password.<br>
<br>

NOTE! Remember to check your "junk" folder too!</span>
                <div id="email-sent-container"></div>
            </div>
            <div class="change-password-buttons">
                <a href="#" id="change-password-change-link">Back</a>
                <a href="#" id="change-password-success-button" class="new-button"><b>OK</b><i></i></a>
            </div>
        </div>
    </div>
    <div id="change-password-form-container-bottom"></div>
</div>

<script type="text/javascript">
    function initChangePasswordForm() {
        ChangePassword.init();
    }
    if (window.HabboView) {
        HabboView.add(initChangePasswordForm);
    } else if (window.habboPageInitQueue) {
        habboPageInitQueue.push(initChangePasswordForm);
    }
</script>
<div id="stepnumbers">
    <div class="step1">Birthdate</div>
    <div class="step2focus">Account details</div>
    <div class="step3">Security Check</div>
    <div class="stephabbo"></div>
</div>

<div id="main-container">
    @if (ViewBag.Error != null)
    {
    <div id="error-messages-container" class="cbb">

        <div class="rounded" style="background-color: #cb2121;">
            <div id="error-title" class="error">
                @switch (ViewBag.Error)
                {
                    case "fields":
                        {
                            @("All fields are required.")
                            break;
                        }
                    case "email_confirm":
                        {
                            @("The emails do not match")
                            break;
                        }
                    case "email_exists":
                        {
                            @("An account with this email already exists")
                            break;
                        }
                    case "terms_of_service":
                        {
                            @("Please accept the terms of service")
                            break;
                        }
                    default:
                        {
                            @("An unexpected error occured.")
                            break;
                        }
                }
            </div>
        </div>
   
    </div>
    }
<noscript>
<div id="alert-javascript-container">
    <div id="alert-javascript-title">
        Missing JavaScript support
    </div>
    <div id="alert-javascript-text">
        Javascript is disabled on your browser. Please enable JavaScript or upgrade to a Javascript-capable browser to use Habbo :)
    </div>
</div>
</noscript>

<div id="alert-cookies-container" style="display:none">
    <div id="alert-cookies-title">
        Missing cookie support
    </div>
    <div id="alert-cookies-text">
        Cookies are disabled on your browser. Please enable cookies to use Habbo.
    </div>
</div>
<script type="text/javascript">
    document.cookie = "habbotestcookie=supported";
    var cookiesEnabled = document.cookie.indexOf("habbotestcookie") != -1;
    if (cookiesEnabled) {
        var date = new Date();
        date.setTime(date.getTime()-24*60*60*1000);
        document.cookie="habbotestcookie=supported; expires="+date.toGMTString();
    } else {
        $('alert-cookies-container').show();
    }
</script>

       <div id="error-placeholder"></div>

    <form id="quickregisterform" method="post" action="@Url.AbsolutePath("~/quickregister/security_check")">
            <h2>Account details</h2>
            <div id="inner-container">
                <div class="inner-content bottom-border">
                    <div class="field">
                        <label for="email-address">Email</label>
                        <input type="text" id="email-address" name="bean.email" value="@(this.Context.Get<string>("registerEmail"))" />
                    </div>
                    <div class="help">You'll need to use this <b>email address to log in</b> to Habbo Hotel in the future. Please use a valid address.</div>
                    <div class="field">
                        <label for="email-address">Re-enter Email</label>
                        <input type="text" id="email-address" name="bean.confirmEmail" />
                    </div>
                    <div class="help">...just to be sure</div>
                    <div id="password-field" class="field">
                        <label for="register-password">Password</label>
                        <input type="password" name="bean.password" id="register-password" maxlength="32" value="" />
                    </div>
                    <div class="help">Password must be at least <b>6 characters </b>long and include <b>letters and numbers</b></div>

                    			<div id="referrer-field" class="field">
				<label for="register-referrer">Referrer</label>
				<input type="text" name="bean.referrer" id="register-referrer" maxlength="32" value="" />
			</div>
			<div class="help">(Optional) Please enter the <b>user who invited you</b> to Habbo Hotel.</div>
                </div>
                <div class="inner-content top-margin">
                    <div class="field-content checkbox ">
                        <label>
                            <input type="checkbox" name="bean.termsOfServiceSelection" id="terms" value="true" class="checkbox-field " />
                            I accept the <a href="http://help.habbo.com/entries/20106178-privacy-policies-terms-of-use" target="_blank" onclick="window.open('http://help.habbo.com/entries/20106178-privacy-policies-terms-of-use'); return false;">Terms Of Service</a>
                        </label>
                    </div>
                    <div class="field-content checkbox">
                        <label>
                            <input type="checkbox" name="bean.marketing" id="marketing" value="true" class="checkbox-field" />
                            Keep me updated about the latest Habbo Hotel happenings, news and gossip!
                        </label>
                    </div>
                </div>
            </div>
        </form>
        <div id="select">
            <a href="?p=register" id="back-link">Go Back</a>
            <div class="button">
                <a id="proceed-button" href="#" class="area">Next</a>
                <span class="close"></span>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.observe("dom:loaded", function () {
            Event.observe($("back-link"), "click", function () {
                Overlay.show(null, 'Loading...');
            });
            Event.observe($("proceed-button"), "click", function () {
                Overlay.show(null, 'Loading...');
                $("quickregisterform").submit();
            });
            $("email-address").focus();
        });
    </script>
    <script type="text/javascript">
        HabboView.run();
    </script>
</body>
</html>